.image_slider{
	object-fit: cover;
	height: 600px!important;
	width: 1800px;
}

.image_thumb{
	object-fit: cover;
	width: 100%;
	height: 150px;
}
@media (max-width: 768px){
	.image_slider{
		height: 300px!important;
	}
}